@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add the following code */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .h-calc-100vh-120px {
    height: calc(100vh - 104px);
  }
}
/* styles/globals.css */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* 必要に応じて Tailwind CSS の設定やグローバルスタイルも追加 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

.maplibregl-popup-close-button {
  display: block; /* 確実にボタンを表示 */
  width: 24px; /* 適切な幅 */
  height: 24px; /* 適切な高さ */
  font-size: 20px; /* ボタン内のアイコンサイズ */
  line-height: 24px; /* ボタン内テキストの高さ */
  background-color: transparent; /* 背景を透明に */
  border: none; /* 枠線なし */
  color: var(--foreground); /* テーマに基づく色 */
  position: absolute; /* 位置を固定 */
  top: 8px; /* ポップアップの上からの距離 */
  right: 8px; /* ポップアップの右からの距離 */
  cursor: pointer; /* マウスオーバー時にポインタ表示 */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Noto Sans JP", sans-serif;
}
